<div fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxFlex="40" fxLayoutAlign="space-around center">
      <div class="space-containers">
        <h2>Cv Creator</h2>
      </div>
      <div class="space-containers">
        <button mat-stroked-button color="primary" routerLink="/login">Iniciar Sesión</button>
      </div>
      <div class="space-containers">
        <button mat-stroked-button color="primary">Registrase</button>
      </div>
    </mat-card>
  </div>
</div>
