<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Inicio Sesión</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Usuario" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Contraseña" type="password" />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">Iniciar Sesión</button>
    </form>
    <div class="space-containers" style="text-align:center">
      <button mat-icon-button routerLink="/welcome">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
