.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-card {
    max-width: 30%;
  }
  
  .example-header-image {
    background-image: url('/assets/cv.png');
    background-size: cover;
  }