<div id="cv" class="instaFade">
  <div class="mainDetails">
    <div id="headshot" class="quickFade">
      <img src="assets/headshot.jpg" alt="Alan Smith" />
    </div>

    <div id="name">
      <h1 class="quickFade delayTwo">Steven Ordóñez</h1>
      <h2 class="quickFade delayThree">Desarrollador de Software</h2>
    </div>

    <div id="contactDetails" class="quickFade delayFour">
      <ul>
        <li>Email: <a href="mailto:joe@bloggs.com" target="_blank">joe@bloggs.com</a></li>
        <li>Pagina Web: <a href="http://www.bloggs.com">www.bloggs.com</a></li>
        <li>Celular: 01234567890</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="quickFade delayFive">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>Perfil Profesional</h1>
        </div>

        <div class="sectionContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in,
            porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis
            dignissim. Proin id sapien quis libero interdum porttitor.
          </p>
        </div>
      </article>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Experiencia Laboral</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>Cargo en la empresa</h2>
          <p class="subDetails">Abril 2011 - Actualmente</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit.
            Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum
            porttitor.
          </p>
        </article>

        <article>
          <h2>Cargo en la empresa</h2>
          <p class="subDetails">Enero 2007 - Marzo 2011</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit.
            Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum
            porttitor.
          </p>
        </article>

        <article>
          <h2>Cargo en la empresa</h2>
          <p class="subDetails">Octubre 2004 - Diciembre 2006</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit.
            Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum
            porttitor.
          </p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Habilidades</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>Habilidad 1</li>
          <li>Habilidad 2</li>
          <li>Habilidad 3</li>
          <li>Habilidad 4</li>
          <li>Habilidad 5</li>
          <li>Habilidad 6</li>
          <li>Habilidad 7</li>
          <li>Habilidad 8</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>

    <section>
      <div class="sectionTitle">
        <h1>Educación</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>UNIAJC</h2>
          <p class="subDetails">Ingeniería de Software</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit.
            Curabitur non consequat enim.
          </p>
        </article>

        <article>
          <h2>SENA</h2>
          <p class="subDetails">Tecnológo en sistemas</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit.
            Curabitur non consequat enim.
          </p>
        </article>
      </div>
      <div class="clear"></div>
    </section>
  </div>
</div>
<script type="text/javascript">
  var gaJsHost = 'https:' == document.location.protocol ? 'https://ssl.' : 'http://www.';
  document.write(
    unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")
  );
</script>
<script type="text/javascript">
  var pageTracker = _gat._getTracker('UA-3753241-1');
  pageTracker._initData();
  pageTracker._trackPageview();
</script>
