<div class="bg-img">
        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
          <mat-card class="box">
            <mat-card-header>
              <div>
                <mat-card-title>Cv Creator</mat-card-title>
              </div>
              <div>
                <mat-card-subtitle >Gestiona tu hoja de vida con las plantillas que te ofrecemos</mat-card-subtitle>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div style="margin-bottom: 15px;">
                <button mat-stroked-button color="primary" class="btn-block" (click)="auth.login()">Iniciar
                  Sesión</button>
              </div>
              <div>
                <button mat-stroked-button color="primary" class="btn-block" (click)="auth.login()">Registrarse</button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>